<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div id="left" class="left box centalign">
        <h1 class="heading">JUST CHAT</h1>
        <p>
          having trouble in talking...!! dont let anything hold yourself back...
          JUST CHAT !!!
        </p>
        <img
          class="image"
          src="https://user-images.githubusercontent.com/28984101/114362224-bb040500-9b94-11eb-8dbd-d3d733b3bdeb.png"
          alt=""
        />

        <h3 class="heading">
          JUST CHAT comes with wide raqnge of stickers and emojis for every
          moood
        </h3>
        <h3 class="heading">chat and have fun with all your friends</h3>
      </div>
      <div id="right" class="right box">
        <p>Enter your email-id and password for quick login</p>
    
        <form id="form" action="">
          <label class="from-item" for="email">EMAIL :</label>
          <input class="from-item"type="text" name="email" id="email" />
          <label class="from-item"for="password">PASSWORD:</label>
          <input class="from-item" type="password" id="password" name="password" />
          <input class="from-item btn" type="submit" name="loginbtn" id="loginbtn" value="LOG-IN" />
        </form>
        <div class="inner-box" >
            <h3>forgot password ? click button below to reset password</h3>
            <button class="from-item btn" id="forgetBtn" >FORGET PASSWORD</button>
        </div>
   
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.2.0/axios.min.js"></script>
  <script src="login.js"></script>
</html>
